<!DOCTYPE html>
<html >
  <head>
    <title>TuTube</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%# <meta property='og:title' content='AllHikes' /> %>
    <%# <meta property='og:image' content='https://raw.githubusercontent.com/benrose207/AllHikes/master/demo/hike_screenshot.png' /> %>
    <%# <meta property='og:description' content='Find detailed information about hikes that interest you, as well as add reviews and photos of hikes you have completed.' /> %>
    <%# <meta property='og:url' content='https://all-hikes.herokuapp.com' /> %>
    <meta property="og:title" content="TuTube" />
    <meta property='og:description' content='Pixel perfect clone of TuTube' />
    <meta property="og:url" content= "https://tutube-fsp.herokuapp.com/#/" />
    <meta property="og:image" content="https://raw.githubusercontent.com/amendoza514/TuTube/blob/master/app/assets/images/favicon.png" />
    <%= favicon_link_tag asset_path('favicon.png') %>
    <!-- For LinkedIn -->
    <%# <meta property='og:title' content='TuTube'/>
    <meta property='og:image' content="https://tutube-seeds.s3-us-west-1.amazonaws.com/taco.jpg"/>
    <meta property='og:description' content='TuTube main page preview'/>
    <meta property='og:url' content='https://tutube-fsp.herokuapp.com/#/'/> %>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2770180a0.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
    </script>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
